VITE_APPWRITE_URL = "https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID ="69b3680e0027366813b4"
VITE_APPWRITE_DATABASE_ID ="69b466f5002d6ad91952"
VITE_APPWRITE_COLLECTION_ID ="articles"
VITE_APPWRITE_BUCKET_ID ="69b46ffa00277255b3e6"
